<!doctype html>
	<html>
	<head>
		<title>Lectures</title>
		<link rel="stylesheet" type="text/css" href="../view/image2.css">
	</head>
	<body>
	<div style ="background:lightsteelblue;position: absolute; top: 50%; left: 50%; transform: translate(-60%, -60%) ;"> 
		<span style="color:darkblue;"><u><h3>Lectures slide</span></u></h3>
		<select name="courses1" id="courses1">
		<option value="nothing1" selected="nothing"> Data Communications</option>
		<option value="../img/Data_Communication_Lecture_1.pptx">DataCommunication Lecture 1</option>
		<option value="../img/Data_Communication_Lecture_2.pptx">DataCommunication Lecture 2</option>
		<option value="../img/Data_Communication_Lecture_3.pptx">DataCommunication Lecture 3</option>
		<option value="../img/Data_Communication_Lecture_4.pptx">DataCommunication Lecture 4</option>
		<option value="../img/Data_Communication_Lecture_5.pptx">DataCommunication Lecture 5</option>
		<option value="../img/Data_Communication_Lecture_6.pptx">DataCommunication Lecture 6</option>
		<option value="../img/Data_Communication_Lecture_7.pptx">DataCommunication Lecture 7</option>
	    </select>
		<script >
	    var urlMenu = document.getElementById('courses1')
	      urlMenu.onchange = function()
	     {
		   var userOption = this.options[this.selectedIndex];
		  if(userOption.value!="nothing1")
		  {
			window.open(userOption.value,"university page","");
		  }
	     }
     </script>
     <br><br>
        <select name="courses2" id="courses2">
		<option value="nothing2"> Web Technologies</option>
		<option value="../img/Lecture_02_WT_Theory.pptx">Web Technologies Lecture 1</option>
		<option value="../img/Lecture_03_WT_Theory.pptx"> Web Technologies Lecture 2</option>
		<option value="../img/Lecture_04_WT_Theory.pptx">Web Technologies Lecture 3</option>
		<option value="../img/Lecture_05_WT_Theory.pptx">Web Technologies Lecture 4</option>
		<option value="../img/W10_Lec10_JS_Theory.pptx">Web Technologies Lecture 5</option>
		</select>
		<script type="text/javascript">
	    var urlMenu = document.getElementById('courses2')
	      urlMenu.onchange = function()
	     {
		   var userOption = this.options[this.selectedIndex];
		  if(userOption.value!="nothing2")
		  {
			window.open(userOption.value,"university page","");
		  }
	     }
     </script>
     <br><br>
		<select name="courses3" id="courses3">
		<option value="nothing3"> Math</option>
		<option value="../img/lecture01.pptx">Math Lecture 1</option>
		<option value="../img/lecture02.pptx"> Math Lecture 2</option>
		<option value="../img/lecture03.pptx"> Math Lecture 3</option>
		<option value="../img/lecture04.pptx"> Math Lecture 4</option>
		<option value="../img/lecture05.pptx"> Math Lecture 5</option>
		</select>
		
      <script>
	    var urlMenu = document.getElementById('courses3')
	      urlMenu.onchange = function()
	     {
		   var userOption = this.options[this.selectedIndex];
		  if(userOption.value!="nothing3")
		  {
			window.open(userOption.value,"university page","");
		  }
	     }
     </script>
     <br><br>
     <select name="courses4" id="courses4">
		<option value="nothing4"> Chemistry</option>
		<option value="../img/lec01.doc">ChemistryLecture 1</option>
		<option value="../img/lec02.doc">Chemistry Lecture 2</option>
		<option value="../img/lec03.doc">Chemistry Lecture 3</option>
		<option value="../img/lec04.doc">Chemistry Lecture 4</option>
		<option value="../img/lec05.doc"> Chemistry Lecture 5</option>
		</select>
		
      <script>
	    var urlMenu = document.getElementById('courses4')
	      urlMenu.onchange = function()
	     {
		   var userOption = this.options[this.selectedIndex];
		  if(userOption.value!="nothing4")
		  {
			window.open(userOption.value,"university page","");
		  }
	     }
     </script>
     <br><br>
     <select name="courses5" id="courses5">
		<option value="nothing5" >Introduction to Programming</option>
		<option value="../img/ProgrammingLec1.pdf">Programming Lecture 1</option>
		<option value="../img/ProgrammingLec2.pdf">Programming Lecture 2</option>
		<option value="../img/ProgrammingLec3.pdf">Programming Lecture 3</option>
		<option value="../img/ProgrammingLec4.pdf">Programming Lecture 4</option>
		<option value="../img/ProgrammingLec5.pdf">Programming Lecture 5</option>
		</select>
		
      <script>
	    var urlMenu = document.getElementById('courses5')
	      urlMenu.onchange = function()
	     {
		   var userOption = this.options[this.selectedIndex];
		  if(userOption.value!="nothing5")
		  {
			window.open(userOption.value,"university page","");
		  }
	     }
     </script>

     <br><br>
     <select name="courses6" id="courses6">
		<option value="nothing6" >Physics</option>
		<option value="../img/Finalterm01.pdf">Physics Lecture 1</option>
		<option value="../img/Finalterm02.pdf">Physics Lecture 2</option>
		<option value="../img/Finalterm03.pdf">Physics Lecture 3</option>
		<option value="../img/Finalterm04.pdf">Physics Lecture 4</option>
		<option value="../img/Finalterm05.pdf">Physics Lecture 5</option>
		</select>
		
      <script>
	    var urlMenu = document.getElementById('courses6')
	      urlMenu.onchange = function()
	     {
		   var userOption = this.options[this.selectedIndex];
		  if(userOption.value!="nothing6")
		  {
			window.open(userOption.value,"university page","");
		  }
	     }
     </script>
     <br><br>
     <select name="courses7" id="courses7">
		<option value="nothing7">Discreate Mathematics</option>
		<option value="../img/lecture01.pptx">DM Lecture 01</option>
		<option value="../img/lecture02.pptx">DM Lecture 2</option>
		<option value="../img/lecture03.pptx">DM Lecture 3</option>
		<option value="../img/lecture04.pptx">DM Lecture 4</option>
		<option value="../img/lecture05.pptx">DM Lecture 5</option>
		</select>
		
      <script>
	    var urlMenu = document.getElementById('courses7')
	      urlMenu.onchange = function()
	     {
		   var userOption = this.options[this.selectedIndex];
		  if(userOption.value!="nothing7")
		  {
			window.open(userOption.value,"university page","");
		  }
	     }
     </script>
     <br><br>
     <select name="courses8" id="courses8">
		<option value="nothing8">Algorithms</option>
		<option value="../img/algo01.pptx">Algorithm Lecture 01</option>
		<option value="../img/algo02.pptx">Algorithm Lecture 2</option>
		<option value="../img/algo03.pptx">Algorithm Lecture 3</option>
		<option value="../img/algo04.docx">Algorithm Lecture 4</option>
		<option value="../img/algo01.pptx">Algorithm Lecture 5</option>
		</select>
		
      <script>
	    var urlMenu = document.getElementById('courses8')
	      urlMenu.onchange = function()
	     {
		   var userOption = this.options[this.selectedIndex];
		  if(userOption.value!="nothing8")
		  {
			window.open(userOption.value,"university page","");
		  }
	     }
     
  </script>
     <br> <br>
  </script>
		
<a href="../view/welcome.php"><button>Go back to your profile</a></button>
    </body>
	</html>
	<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
	<div style = "background:lightsteelblue;position: absolute; top: 20%; right: 60%; transform: translate(-90%, -90%) ;"> 
		<span style="color:darkblue;"><u><h3>Exam Cover Paper</span></u></h3>
		<select name="exam" id="exam">
		<option value="nothing">Web Technologies</option>
		<option value="../img/exam_cover_sheet.docx">Web Technologies</option>
		<option value="../img/exam_cover_sheet.docx">Algorithm</option>
		<option value="../img/exam_cover_sheet.docx">Discrete Math</option>
		<option value="../img/exam_cover_sheet.docx">Physics</option>
		<option value="../img/exam_cover_sheet.docx">Introduction To Programming</option>
		<option value="../img/exam_cover_sheet.docx">Math</option>
		<option value="../img/exam_cover_sheet.docx">Chemistry</option>
		<option value="../img/exam_cover_sheet.docx">C#</option>
		<option value="../img/exam_cover_sheet.docx">Datacommunication</option>
	    </select>
		<script>
	    var urlMenu = document.getElementById('exam')
	      urlMenu.onchange = function()
	     {
		   var userOption = this.options[this.selectedIndex];
		  if(userOption.value!="nothing")
		  {
			window.open(userOption.value,"university page","");
		  }
	     }
     </script>
 </div>
	</body>
	</html>
