<!doctype html>
	<html>
	<head>
		<title>Drop Application</title>
		<link rel="stylesheet" type="text/css" href="../view/image2.css">
	</head>

	<body>
	<div style = "background:beige;position: absolute; top: 50%; left: 50%; transform: translate(-49%, -49%) ;"> 
	<form action="../control/select_course_action.php" method="POST">
	<label for="Drop"><h4>Select the courses you want to give exam </h4></label>
	<select id="select" >
	<option value="C#" name="select" id="select">C#</option>
	<option value="Webtechnology" name="select" id="select">Webtechnology</option>
	<option value="Data Communication" name="select" id="select">Data Communication</option>
	<option value="Chemistry" name="drop" id="drop">Chemistry</option>
	

	</select>
	<input type="submit" name="submit" value="submit" style="background:greenyellow;">
</body>
</div>
</html>



